$black: #000;
$white: #fff;
$blue: #46c4db;
$green: #5dd5ab;


$baseFontsize: 16;

@function rem($pixel) {
    @return calc($pixel/$baseFontsize*1rem);
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Noto Serif JP', 'Marcellus', 'EB Garamond', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: calc(28/15);
    color: $black;
    background-color: $white;
}

a {
    color: $black;
    text-decoration: none;
}

li {
    list-style: none;
}



img {
    max-width: 100%;
    vertical-align: bottom;
}

.total__width {
    width: 91.7%;
    margin: 0 auto;

    @media (min-width: 768px) {
        width: 80%;
    }
}