.cream {
    .total__width {
        .cream__width {
            @media (min-width: 768px) {
                width: 83.3%;
                margin: 0 auto;
            }
        }
    }
}

.cream__wrap {
    background-color: #f0f4ff;
    padding-top: rem(25);
    padding-bottom: rem(34);
    margin-bottom: rem(50);

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        margin-top: rem(48);
        margin-bottom: rem(50);
        padding: rem(41) calc(100vw/1500*46);
    }
}

.cream__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
        align-items: flex-start;
    }

    h3 {
        margin: 0;
        font-size: min(rem(18), calc(100vw/390*18));
        font-weight: 600;
        line-height: 1;
        letter-spacing: 1.8px;
        color: #111;
        margin-left: 2px;

        @media (min-width: 768px) {
            font-size: min(rem(24), calc(100vw/1500*24));
            letter-spacing: 2.4px;
            margin-top: rem(4);
        }

    }

    span {
        font-size: min(rem(14), calc(100vw/390*14));
        font-weight: 400;
        line-height: 1;
        letter-spacing: 1.4px;
        color: #111;
        margin-top: 11.5px;
        margin-left: 2.1px;

        @media (min-width: 768px) {
            font-size: rem(16);
            margin-top: rem(18);
            margin-left: rem(1);
            letter-spacing: 1.7px;
        }

    }
}


.cream__button {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
        flex-direction: row;
        margin-right: rem(2);
    }

    .cream__button--wrap {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.cream__button--blue {
    font-size: min(rem(18), calc(100vw/390*18));
    font-weight: 600;
    line-height: 1;
    color: $white;
    letter-spacing: 0.1px;
    background-color: $blue;
    border: rem(2) solid $blue;
    border-radius: rem(34);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82.8%;
    height: 14vw;
    margin-top: min(rem(23), calc(100vw/390*23));
    max-width: rem(296);
    max-height: rem(54);

    @media (min-width: 768px) {
        font-size: min(rem(18), calc(100vw/1500*18));
        width: 20vw;
        margin-top: 0;
    }
}

.cream__button--green {
    font-family: 'Noto Serif JP', sans-serif;
    font-size: min(rem(18), calc(100vw/390*18));
    font-weight: 600;
    line-height: 1;
    color: $white;
    letter-spacing: 0.1px;
    background-color: $green;
    border: rem(2) solid $green;
    border-radius: rem(34);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83.4%;
    height: 14.5vw;
    margin-top: min(rem(22), calc(100vw/390*22));
    max-width: rem(299);
    max-height: rem(58);

    @media (min-width: 768px) {
        font-size: min(rem(18), calc(100vw/1500*18));
        width: 20vw;
        margin-top: 0;
        margin-left: min(rem(33), calc(100vw/1500*33));
    }
}


// ---------- buttonホバー時 ----------

.cream__button {
    .cream__button--blue:hover {
        background-color: $white;
        color: $blue;
    }

    .cream__button--green:hover {
        background-color: $white;
        color: $green;
    }
}