.cream-footer {
    .cream {
        padding-top: rem(50);

        @media (min-width: 768px) {
            padding-top: rem(0);
        }
    }

    .cream__wrap {
        padding-top: rem(24);
        margin-bottom: rem(9.5);

        @media (min-width: 768px) {
            padding-top: rem(44);
            margin-bottom: rem(10);
        }

        .cream__text {
            h3 {
                @media (min-width: 768px) {
                    margin-top: rem(1);
                }
            }

            span {
                margin-top: rem(12.5);

                @media (min-width: 768px) {
                    margin-top: rem(18);
                }
            }
        }
    }
}

.cream_footer {
    .cream__button--wrap {
        .cream__button--blue {
            margin-top: rem(23);
        }

        .cream__button--green {
            margin-top: rem(21);
        }
    }
}

.cream-footer__arrow {
    display: flex;
    justify-content: flex-end;

    a {
        width: rem(40);
        height: rem(40);
        background-color: #0071CE;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            color: $white;
            font-size: rem(16);
        }
    }
}

.cream-footer__arrow {
    a:hover {
        background-color: $white;
        border: rem(2) solid #0071CE;
        box-sizing: border-box;

        i {
            color: #0071CE;
        }
    }
}