.qa {
    padding-top: rem(37);
    padding-bottom: rem(32);
    background-image: linear-gradient(90deg, #F4FFE8 0, #C6F0FE 100%);

    @media (min-width: 768px) {
        padding-top: rem(46);
        padding-bottom: rem(41);
    }
}

.qa__width {
    @media (min-width: 768px) {
        width: 49.9%;
        margin: 0 auto;
        min-width: rem(600);
    }
}

.qa__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: rem(2);
    margin-bottom: rem(40);

    @media (min-width: 768px) {
        margin-bottom: rem(44);
        margin-left: rem(3);
    }

    h2 {
        margin: 0;
        font-family: 'EB Garamond', sans-serif;
        font-size: rem(30);
        font-weight: 700;
        line-height: 1;
        letter-spacing: 1.5px;

        @media (min-width: 768px) {
            font-size: rem(45);
            letter-spacing: rem(2.2);
        }
    }

    h3 {
        font-size: rem(16);
        font-weight: 600;
        line-height: 1;
        letter-spacing: 0.9px;
        margin: rem(12) 0 0 0;

        @media (min-width: 768px) {
            font-size: rem(20);
            margin-top: rem(19);
            margin-right: rem(2);
        }
    }
}



.accordion__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: $white;
    padding-top: rem(16);
    padding-bottom: rem(17);
    margin-top: rem(20);

    @media (min-width: 768px) {
        padding-top: rem(23);
        padding-bottom: rem(20);
        margin-top: rem(25);
    }
}

.accordion__container--1 {
    margin: 0;
}

.accordion__header {
    .header__mark {
        display: flex;
        margin-top: rem(7);
        margin-left: rem(16);

        @media (min-width: 768px) {
            margin-top: rem(5);
            margin-left: rem(23);
        }

        span {
            font-family: 'EB Garamond', sans-serif;
            font-size: rem(16);
            font-weight: 500;
            line-height: 1;

            @media (min-width: 768px) {
                font-size: rem(18);
            }
        }
    }

    .header__text {
        margin: 0;
        width: 76%;

        @media (min-width: 768px) {
            width: 81.5%;
        }

        p {
            margin: 0;
            font-size: rem(15);
            font-weight: 500;
            line-height: calc(28/15);
            letter-spacing: 0;
        }
    }

    .header__caret {
        display: flex;
        margin-top: rem(6);
        margin-right: rem(15);

        @media (min-width: 768px) {
            margin-top: rem(4);
            margin-right: rem(23);
        }

        i {
            font-size: rem(22);
        }
    }
}

.accordion__header.active {
    .header__caret {
        i {
            transform: rotate(180deg);
        }
    }
}


.accordion__content {
    display: none;
}

.accordion__content--wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: $white;
    padding-top: 0;
    padding-bottom: rem(30);
    margin-top: rem(-5);

    @media (min-width: 768px) {
        padding-top: rem(2);
        padding-bottom: rem(20);
    }
}



.accordion__content {
    .content__mark {
        display: flex;
        margin-top: rem(6.5);
        margin-left: rem(16);
        margin-right: rem(13);

        @media (min-width: 768px) {
            margin-top: rem(5);
            margin-left: rem(23.5);
            margin-right: rem(17);

        }

        span {
            font-family: 'EB Garamond', sans-serif;
            font-size: rem(16);
            font-weight: 500;
            line-height: 1;

            @media (min-width: 768px) {
                font-size: rem(18);
            }
        }
    }


    .content__text {
        width: 87%;

        @media (min-width: 768px) {
            width: 86%;
        }

        p {
            margin: 0;
            font-size: rem(15);
            font-weight: 500;
            line-height: calc(28/15);

        }
    }
}


.accordion__container--3,
.accordion__container--5 {
    .accordion__header {
        @media (min-width: 768px) {
            margin-top: rem(23);
        }
    }
}